<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>GitCalendar</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.custom.localstorage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/calendar.js"></script>
</head>

<body>
    <h1>HAVE YOU MADE SOMETHING TODAY?</h1>
    <div class="row">
	<span id="0" class="calendar"></span>
	<span id="1" class="calendar"></span>
	<span id="2" class="calendar"></span>
	<span id="3" class="calendar"></span>
    </div>
    <div class="row">
        <span id="4" class="calendar"></span>
        <span id="5" class="calendar"></span>
        <span id="6" class="calendar"></span>
        <span id="7" class="calendar"></span>
    </div>
    <div class="row">
        <span id="8" class="calendar"></span>
        <span id="9" class="calendar"></span>
        <span id="10" class="calendar"></span>
        <span id="11" class="calendar"></span>
    </div>
</body>

</html>
