<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>GitCalendar</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.custom.localstorage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/calendar.js"></script>
</head>

<body>
    <div class="row">
	<span id="jan" class="calendar"></span>
	<span id="feb" class="calendar"></span>
	<span id="mar" class="calendar"></span>
	<span id="apr" class="calendar"></span>
    </div>
    <div class="row">
        <span id="may" class="calendar"></span>
        <span id="jun" class="calendar"></span>
        <span id="jul" class="calendar"></span>
        <span id="aug" class="calendar"></span>
    </div>
    <div class="row">
        <span id="sep" class="calendar"></span>
        <span id="oct" class="calendar"></span>
        <span id="nov" class="calendar"></span>
        <span id="dec" class="calendar"></span>
    </div>
</body>

</html>
